<%- include('../layouts/header') %> <%- include('../layouts/navbar') %> <%-
include('../partials/alert') %>

<div class="container my-5 mb-5">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="fw-bold"><%= title %></h2>
    <%- include('../partials/search-filter', { brands }) %>
  </div>

  <% if (perfumes.length === 0) { %>
  <div class="alert alert-warning text-center" role="alert">
    No products found. / Không có sản phẩm nào.
  </div>
  <% } else { %>
  <div class="row g-4">
    <% perfumes.forEach(perfume => { %> <%- include('../partials/perfume-card',
    { perfume }) %> <% }) %>
  </div>
  <% } %>
</div>
<div class="fixed"><%- include('../layouts/footer') %></div>
