<%- include('../layouts/header') %>
<%- include('../layouts/navbar') %>
<%- include('../partials/alert') %>

<h2>My Profile</h2>

<form action="/profile" method="POST">
  <label>Name:</label>
  <input type="text" name="name" value="<%= member.name %>" required /><br>
  <label>Year of Birth:</label>
  <input type="number" name="YOB" value="<%= member.YOB %>" required /><br>
  <label>Gender:</label>
  <select name="gender">
    <option value="true" <%= member.gender ? "selected" : "" %>>Male</option>
    <option value="false" <%= !member.gender ? "selected" : "" %>>Female</option>
  </select><br>
  <button type="submit">Update Profile</button>
</form>

<%- include('../layouts/footer') %>
